<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~psalessi/Faculty_Support/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~psalessi/Faculty_Support/index.php [L]
</IfModule>
